# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Logs
*.log

# NuGet
packages/
*.nupkg

# OS / editor extras
Thumbs.db
.DS_Store